/*
    Author: Chaz Peterson
    Alias:  CheTranqui
*/

    /*==================================
            Primary Document Styles
    ====================================*/

:root {
    --color-primaryBackground: #fff;
    --color-secondaryBackground: #eee;
    --color-primaryTitle: #38a2c2;
    --color-primaryText: #123;
    --color-fadedText: #666;
    --color-links: #01afa7;
    --color-inlineLinks: #01c8bf;
    --color-carouselButtons: rgba(200,200,200,0.8);
    --color-carouselButtonText: darkgray;
    --ff-primaryFont: 'Times New Roman';
    --ff-accentFont: 'Palatino Linotype';
}

    ul {
        margin-top: 0;
    }

    header {
        font-family: var(--ff-accentFont);
        background-color: var(--color-secondaryBackground);
    }

    h1, h2 {
        text-align: center;
        color: var(--color-primaryTitle);
        font-family: var(--ff-accentFont);
        margin: 1.5rem 0.5rem 1rem 0.5rem;
    }

    h1 {
        font-size: 2.7rem;
        text-shadow: 2px 0 var(--color-buttonBackground);
    }

    h2 {
        font-size: 2rem;
        text-shadow: 0.5px 1.5px black;
    }

    body {
        width: 90%;
        margin: 1rem auto 2rem auto;
        background-color: var(--color-primaryBackground);
        color: var(--color-primaryText);
        font-size: 1.5rem;
        font-family: var(--ff-primaryFont);
    }

    main {
        display: flex;
        flex-direction: column;
        padding-top: 0.05rem;
        background-color: var(--color-secondaryBackground);
    }

    article {
        text-align: center;
        height: auto;
        width: 95%;
        margin: auto;
        padding: 1rem 0 1rem 0;
    }

    #introductionArticle,
    #primaryProjectsArticle,
    #inspiration{
        display: block;
        align-content: center;
    }

    a {
        color: var(--color-links);
        font-size: 1.3rem;
        transition: font-size, 0.2s ease-in-out;
    }

    a:hover, a:focus {
        font-size: 1.5rem;
    }

    /*==================================
               NavBar Styling
    ====================================*/
    #navContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: var(--color-primaryBackground);
        width: 100%;
        height: auto;
        padding-top: 0.65rem;
        padding-bottom: 0.75rem;
        margin: 0;
    }

    .navBar {
        position: relative;
        display: flex;
        width: auto;
        margin: 0;
    }

    .navLink {
        display: flex;
        flex-wrap: nowrap;
        color: var(--color-primaryTitle);
        font-family: var(--ff-accentFont);
        height: auto;
        margin: 0;
        background-size: 100% 200%;
        background-image: linear-gradient(180deg, var(--color-primaryBackground) 50%, var(--color-primaryTitle) 50%);
        border: 0;
        outline-color: var(--color-links);
        font-size: 1.0rem;
        cursor: pointer;
        transition: background-position 0.5s;
    }

    .navLink:hover {
        font-size: 1.0rem;
        color: #fff;
        background-position: 0 100%;
    }

    .navMenuItem{
        padding: 0;
    }

    .emailMe {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        text-decoration: none;
    }

    #copyNotification{
        float: none;
        position: absolute;
        top: 3.25rem;
        display: none;
        background: var(--color-secondaryBackground);
        font-size: small;
        text-align: center;
        text-wrap: normal;
        word-wrap: normal;
        z-index: 2;
    }

    .modeContainer {
        position: absolute;
        top: 0.25rem;
        right: 0;
        padding-right: 5%;
        width: 90%;
        margin: auto;
    }

    .modeLabel {
        position: relative;
        float: right;
        top: 0;
        right: 2.4rem;
        height: 1rem;
        width: 4.5rem;
        font-size: 0.75rem;
        color: var(--color-primaryTitle);
    }

    .modeLabel input {
        display: none;
        width: 0;
        height: 0;
    }

    .slider {
        height: 0.75rem;
        width: 2rem;
        position: absolute;
        cursor: pointer;
        top: 0.18rem;
        right: -2rem;
        background-color: var(--color-carouselButtons);
        transition: .3s;
        border-radius: 0.4rem;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 0.5rem;
        width: 0.5rem;
        left: 4px;
        bottom: 2px;
        background-color: var(--color-fadedText);
        transition: .3s;
        border-radius: 40%;
    }

    .modeLabel input:checked + .slider {
        background-color: var(--color-primaryTitle);
    }

    .modeLabel input:focus + .slider {
        box-shadow: 0 0 1px var(--color-primaryTitle);
    }

    .modeLabel input:checked + .slider:before {
        background-color: var(--color-secondaryBackground);
        transform: translateX(1rem);
    }

/*==================================
        NavBar: Social Media Dropdown
    ====================================*/
    .navList {
        list-style-type: none;
        padding-left: 0.2rem;
        margin: 0 0 0 0;
    }

    #socialMediaDisplay {
        margin: 0 0.5rem 0 0.5rem;
    }

    .socialMediaDropdownBackground {
        display: none;
        position: absolute;
        height: auto;
        max-width: 7rem;
        padding: 0.2rem 2rem 0.2rem 0;
        border: 2px solid var(--color-links);
        background-color: var(--color-secondaryBackground);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
        z-index: 1;
    }

    .socialMediaDropdownItem {
        margin: 0.5rem 0 0.5rem 0;
        display: block;
        background-color: var(--color-secondaryBackground);
    }

    .socialMediaDropdownImage {
        max-width: 45%;
        height: auto;
    }

    .socialMediaDropdownLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        text-decoration: none;
        color: var(--color-primaryText);
        background-color: var(--color-secondaryBackground);
    }

    .socialMediaDropdownLink:hover, .socialMediaDropdownLink:focus {
        width: 110%;
        font-size: 1.1rem;
    }

    .socialMediaDropdownText {
        margin-left: 0.35rem;
        display: inline-block;
    }

    .show {
        display: inline-block;
        width: 90%;
    }


    /*==================================
        NavBar: Right-side Nav Menu
    ====================================*/
    #navMenu {
        align-content: flex-end;
    }

    #navMenuList {
        width: 100%;
    }

    .navMenuItem {
        float: right;
        display: block;
        margin: 0 0.25rem 0 0.25rem;
    }

    /*==================================
            Introduction Styles
    ====================================*/

    .introductionArticle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0 0.5rem 0 0.5rem;
    }

    #introductionTextSection {
        text-align: center;
    }

    .introductionText {
        margin: 0.5rem 0 0.5rem 0;
    }

    /*==================================
            Inspiration Styles
    ====================================*/

    #myInspirationProjects {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1 1 0;
        text-align: center;
        margin: auto;
    }

    .inspirationProject {
        height: auto;
        text-align: center;
    }

    .inspirationPreview figure {
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .inspirationImage {
        max-width: 100%;
        height: auto;
        transition: transform .5s ease;
    }

    .inspirationImage:hover {
        transform: scale(1.2);
    }

    .inspirationCaption {
        align-self: center;
        font-size: 2.25rem;
        color: var(--color-secondaryTitle);
        font-family: var(--ff-accentFont);
    }

    .inspirationCaption h2 {
        margin: 0.25rem 0 0 0;
    }

    .inspirationDescription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.75rem;
        text-align: center;
    }

    .inspirationLinks {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .inspirationLink {
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .hidden {
        display: none;
    }


/*=======================================
       Projects.html page from 250px to 450px+
    =========================================*/

    .inlineLink {
        color: var(--color-inlineLinks);
        text-decoration: none;
    }

    .projectsMain {
        height: 100%;
    }

    .carousel {
        position: relative;
        height: auto;
        width: 95%;
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carouselTrackContainer {
        position: relative;
        height: 100%;
    }

    .carouselTrack {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .carouselSlide {
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .carouselSideButton {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        padding: 0 0 0.3rem 0;
        border: 0;
        width: 1.3ch;
        align-items: center;
        font-size: 2rem;
        background: var(--color-carouselButtons);
        color: var(--color-carouselButtonText);
        text-shadow: 0 3px #123;
        cursor: pointer;
        z-index: 1;
    }

    #carouselLeftButton {
        left: 0rem;
    }

    #carouselRightButton {
        right: 0rem;
    }

    .carouselBottomButton {
        display: none;
    }

    .projectContainer {
        width: auto;
        margin: auto;
    }

    .projectContainer p {
        margin: 0;
    }

    .projectContainer h2 {
        margin: 1rem 0 1rem 0;
    }

    .projectContainer projectPreview {
        position: relative;
        height: 45rem;
    }

    .projectContainer section figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        margin: 0;
    }

    .projectContainer section figure figcaption h2 {
        width: 100%;
    }

    .projectContainer section figure img {
        position: relative;
        height: 15rem;
        width: 100%;
        object-fit: scale-down;
        transition: transform .5s ease;
    }

    .projectContainer .projectDescriptionSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
    }

    .projectContainer .projectLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .projectContainer .projectLink {
        margin: 0 0.35rem 0.5rem 0.35rem;
    }

   .projectLink {
        display: block;
    }
@media only screen and (min-width: 300px) {
    .navLink {
        font-size: 1.1rem;
    }

    .navLink:hover, .navLink:focus {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 450px){

    .navList {
        padding-left: 0.5rem;
    }

    .navLink {
        font-size: 1.3rem;
    }

    .navLink:hover, .navLink:focus {
        font-size: 1.3rem;
    }

    .projectContainer .projectLinks {
        justify-content: center;
    }

    .projectContainer .projectLink {
        margin: 0 2rem 1rem 2rem;
    }
}

    /*==================================
       Primary Document Styles - Desktop
  Everything here is for over 795 pixels wide
    ====================================*/
    @media only screen and (min-width: 795px) {

        header {
            font-size: 1.5rem;
        }

        body {
            font-size: 1.2rem;
        }

        a {
            font-size: 1rem;
        }

        a:hover, a:focus {
            font-size: 1.1rem;
        }

     /*==================================
           NavBar Styling - Desktop
    ====================================*/
    #navContainer {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: auto;
    }

    /*======================================
     NavBar: Social Media Dropdown - Desktop
    =======================================*/
        .socialMediaDropdownBackground {
            max-width: 6rem;
        }


        .socialMediaDropdownLink {
            font-size: 0.9rem;
        }

        .socialMediaDropdownLink:hover, .socialMediaDropdownLink:focus {
            font-size: 1.05rem;
        }

    /*==================================
    NavBar: Right-side Nav Menu - Desktop
    ====================================*/
        .navLink {
            font-size: 1.5rem;
        }

        .navLink:hover, .navLink:focus {
            font-size: 1.5rem;
        }

        .modeContainer{
            padding-right: calc(5% + 0.5rem);
        }

    /*==================================
        Introduction Styles - Desktop
    ====================================*/
        .introductionArticle {
            width: 80%;
            height: auto;
            margin: 0 10% 0 10%;
        }

        #introductionTitleSection {
        }

    /*==================================
        Inspiration Styles - Desktop
    ====================================*/

        #myInspirationProjects {
            flex-direction: row;
            width: 98%;

        }

        .inspirationProject {
            align-content: flex-start;
            height: auto;
            margin: 0.2rem 1rem 0.2rem 1rem;
        }

        .inspirationPreview {
            text-align: center;
        }

        .inspirationPreview figure {
            height: auto;
            width: 95%;
            margin: auto;
        }

        .inspirationImage {
            border: 1rem solid var(--color-primaryBackground);
        }

        .inspirationImage:hover,
        .inspirationImage:focus {
            transform: scale(2);
        }

        .inspirationCaption {
            font-size: 1.65rem;
            margin-bottom: 0.5rem;
        }

        .inspirationText {
            margin: 0.5rem 0 0.5rem 0;
        }

    /*==================================
           carousel project 800+ pixels
    ====================================*/


        .carousel {
            height: 875px;
            width: 80%;
            max-width: 800px;
        }

        .carouselSideButton {
            font-size: 2.5rem;
            width: 1.5ch;
            align-items: center;
        }

        #carouselLeftButton {
            left: -1rem;
        }

        #carouselRightButton {
            right: -1rem;
        }

        .carouselNav {
            background: var(--color-secondaryBackground);
            display: flex;
            justify-content: center;
            padding: 0.5rem 0 0 0;
        }

        .carouselBottomButton {
            display: inline-block;
            border: 0;
            border-radius: 50%;
            width: 0.7rem;
            height: 0.8rem;
            background: var(--color-carouselButtons);
            margin: 0 1rem 0 1rem;
            cursor: pointer;
        }

        .currentSlide {
            background: var(--color-primaryTitle);
        }

        .projectContainer projectPreview {
            height: 35rem;
        }

        .projectContainer section figure img {
            align-self: center;
            height: 25rem;
            width: auto;
            object-fit: cover;
        }
    }

    /*==================================
           special media query cases
    ====================================*/

    @media only screen and (min-width: 1285px) {
        .inspirationImage:hover {
            transform: scale(1.7);
        }
    }

    /*==================================
        MartianTribuneStories & footer
     ====================================*/
    .afterThought {
        text-align: left;
        font-size: 1rem;
        text-shadow: none;
        color: var(--color-fadedText);
    }

    .CSSValidator a img {
        max-height: 1.3rem;
        max-width: 4rem;
    }