/*
    Author: Chaz Peterson
    Alias:  CheTranqui
*/

    /*==================================
            Primary Document Styles
  Everything here is for 795 pixels wide and under
    ====================================*/

:root {
    --color-primaryBackground: #123;
    --color-secondaryBackground: #222;
    --color-accentBackground: #333;
    --color-primaryTitle: #38a2c2;
    --color-secondaryTitle: #38a2c2;
    --color-primaryText: #f0f8ff;
    --color-buttonBackground: #27048e;
    --color-fadedText: #808080;
    --color-links: #1ec8af;
    --color-inlineLinks: #9CFFDE;
    --ff-primaryFont: 'Times New Roman';
    --ff-accentFont: 'Palatino Linotype';
}

    ul {
        margin-top: 0;
    }

    header {
        font-family: var(--ff-accentFont);
        background-color: var(--color-secondaryBackground);
    }

    h1 {
        text-align: center;
        color: var(--color-primaryTitle);
        font-size: 2rem;
        text-shadow: 3px 3px black;
        font-family: var(--ff-accentFont);
        margin: 1.5rem 0.5rem 1rem 0.5rem;
    }

    body {
        width: 90%;
        margin: auto;
        background-color: var(--color-primaryBackground);
        color: var(--color-primaryText);
        font-size: 1.5rem;
        font-family: var(--ff-primaryFont);
    }

    main {
        padding-top: 0.05rem;
        background-color: var(--color-secondaryBackground);
    }

    article {
        text-align: center;
        padding: 2rem 0 2rem 0;
        height: auto;
    }

    #introductionArticle,
    #primaryProjectsArticle,
    #inspiration{
        display: block;
    }

    a {
        color: var(--color-links);
        font-size: 1.3rem;
    }

    a:hover, a:focus {
        font-size: 1.5rem;
    }

    button {
        display: flex;
        height: auto;
        padding: 0.5rem;
        margin: 0;
    }


    /*==================================
               NavBar Styling
    ====================================*/
    #navContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 1.3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.75rem;
    }

    .navBar {
        display: flex;
        width: auto;
        margin-top: 0;
    }

    .navLink {
        background: var(--color-primaryBackground);
        border: 2px solid var(--color-links);
        border-radius: 10%;
        color: var(--color-primaryTitle);
    }

    .navBar p {
        margin: 0.4rem 0 0 0;
        font-size: 1.7rem;
    }

    .navLink p:hover, .navLink:focus {
        font-size: 1.95rem;
    }
/*==================================
        NavBar: Social Media Dropdown
    ====================================*/
    .navList {
        list-style-type: none;
        padding-left: 0.5rem;
        margin: 0 0 0 0;
    }

    #socialMediaDisplay {
        margin: 0 0.5rem 0 0.5rem;
     
    }

    .socialMediaDropdownBackground {
        display: none;
        position: absolute;
        height: auto;
        max-width: 7rem;
        padding: 0.2rem 2rem 0.2rem 0;
        border: 2px solid var(--color-links);
        background-color: var(--color-secondaryBackground);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
        z-index: 1;
    }

    .socialMediaDropdownItem {
        margin: 0.5rem 0 0.5rem 0;
        display: block;
        background-color: var(--color-secondaryBackground);
    }

    .socialMediaDropdownImage {
        max-width: 45%;
        height: auto;
    }

    .socialMediaDropdownLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        text-decoration: none;
        color: var(--color-primaryText);
        background-color: var(--color-secondaryBackground);
    }

    .socialMediaDropdownLink:hover, .socialMediaDropdownLink:focus {
        width: 110%;
        font-size: 1.1rem;
    }

    .socialMediaDropdownText {
        margin-left: 0.35rem;
        display: inline-block;
    }

    .show {
        display: inline-block;
    }


    /*==================================
        NavBar: Right-side Nav Menu
    ====================================*/
    #navMenu {
        align-content: flex-end;
    }

    #navMenuList {
        width: 100%;
        margin: 0 0.5rem 0 0.5rem;
    }

    .navMenuItem {
        float: right;
        display: block;
        margin: 0 0.25rem 0 0.25rem;
    }

    /*==================================
            Introduction Styles
    ====================================*/

    .introductionArticle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0 0.5rem 0 0.5rem;
    }

    #introductionTextSection {
        text-align: center;
    }

    .introductionText {
        margin: 0.5rem 0 0.5rem 0;
    }

    /*==================================
            Inspiration Styles
    ====================================*/

    #myInspirationProjects {
        text-align: center;
        display: grid;
        justify-content: space-evenly;
        align-content: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        column-gap: normal;
    }

    #inspirationOne .inspirationPreview {
        grid-column: 1;
        grid-row: 1;
    }

    #inspirationOne .inspirationDescription {
        grid-column: 1;
        grid-row: 2;
    }

    #inspirationOne .inspirationLinks {
        grid-column: 1;
        grid-row: 3;
    }

    #inspirationTwo .inspirationPreview {
        grid-column: 1;
        grid-row: 4;
    }

    #inspirationTwo .inspirationDescription {
        grid-column: 1;
        grid-row: 5;
    }

    #inspirationTwo .inspirationLinks {
        grid-column: 1;
        grid-row: 6;
    }

    #inspirationThree .inspirationPreview {
        grid-column: 1;
        grid-row: 7;
    }

    #inspirationThree .inspirationDescription {
        grid-column: 1;
        grid-row: 8;
    }

    #inspirationThree .inspirationLinks {
        grid-column: 1;
        grid-row: 9;
    }

    .inspirationProject {
        height: auto;
        align-self: start;
        text-align: center;
        margin: 0.2rem 1rem 0.2rem 1rem;
    }

    .inspirationPreview figure {
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .inspirationImage {
        grid-column: 1;
        grid-row: 1;
        max-width: 100%;
        height: auto;
        align-self: center;
        border: 1.5rem solid var(--color-primaryBackground);
        border-bottom: 0;
        transition: transform .5s ease;
    }

    .inspirationImage:hover {
        transform: scale(1.2);
    }

    .inspirationCaption {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        font-size: 2.25rem;
        color: var(--color-secondaryTitle);
        font-family: var(--ff-accentFont);
    }

    .inspirationText {
        margin: 0.5rem 0 0.5rem 0;
    }

    .inspirationLinks {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .inspirationLink {
        margin: 0.5rem 1rem 0.5rem 1rem;
    }

    .hidden {
        display: none;
    }


/*=======================================
       Projects.html page from 250px to 450px+
    =========================================*/

    .inlineLink {
        color: var(--color-inlineLinks);
        text-decoration: none;
    }

    .projectsMain {
        height: 100%;
    }

    .carousel {
        position: relative;
        height: 1875px;
        width: 95%;
        max-width: 800px;
        margin: auto;
        padding-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/*    carousel height is critical to adjust at 350px+*/
@media only screen and (min-width: 350px) {
    .carousel {
        height: 1450px;
    }
}

    .carouselTrackContainer {
        position: relative;
        height: 100%;
    }

    .carouselTrack {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .carouselSlide {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .carouselSideButton {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        background: rgba(255,255,255,0.3);
        padding: 0;
        border: 0;
        width: 1.8rem;
        cursor: pointer;
        font-size: 2.5rem;
        text-shadow: 0 3px #123;
        z-index: 1;
    }

    #carouselLeftButton {
        left: 0rem;
    }

    #carouselRightButton {
        right: 0rem;
    }

    .carouselBottomButton {
        display: none;
    }

    .projectContainer {
        width: auto;
        margin: auto;
    }

    .projectContainer p {
        margin: 0;
    }

    .projectContainer h2 {
        color: var(--color-primaryTitle);
        margin: 1rem 0 1rem 0;
    }

    .projectContainer projectPreview {
        height: 45rem;
    }

    .projectContainer section figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .projectContainer section figure figcaption h1 {
        width: 100%;
    }

    .projectContainer section figure img {
        height: 15rem;
        width: 100%;
        object-fit: scale-down;
        transition: transform .5s ease;
    }

    .projectContainer section figure img:hover,
    .projectContainer section figure img:focus {
        transform: scale(1.2);
    }

    .projectContainer .projectDescriptionSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        text-align: center;
    }

    .projectContainer .projectLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .projectContainer .projectLink {
        margin: 0 0.35rem 0.5rem 0.35rem;
    }

   .projectLink {
        display: block;
    }


@media only screen and (min-width: 450px){

    .carousel{
        height: 1075px;
    }

    .projectContainer .projectLinks {
        justify-content: center;
    }

    .projectContainer .projectLink {
        margin: 0 2rem 1rem 2rem;
    }
}

@media only screen and (min-width: 600px) {

    .carousel {
        height: 900px;
    }
}
    /*==================================
       Primary Document Styles - Desktop
  Everything here is for over 795 pixels wide
    ====================================*/
    @media only screen and (min-width: 795px) {

        header {
            font-size: 1.5rem;
        }

        h1 {
            font-size: 2.25rem;
        }

        body {
            font-size: 1.2rem;
            /*        margin: 2rem;*/
        }

        a {
            font-size: 1rem;
        }

            a:hover, a:focus {
                font-size: 1.1rem;
            }
        /*==================================
           NavBar Styling - Desktop
    ====================================*/
        /*==================================
     NavBar: Social Media Dropdown - Desktop
    ====================================*/
        .socialMediaDropdownBackground {
            max-width: 6rem;
        }

        .socialMediaDropdownLink {
            font-size: 0.9rem;
        }

            .socialMediaDropdownLink:hover, .socialMediaDropdownLink:focus {
                font-size: 1.05rem;
            }

        /*==================================
    NavBar: Right-side Nav Menu - Desktop
    ====================================*/
        .navLink p, .navLink {
            font-size: 1.5rem;
        }

            .navLink p:hover, .navLink:focus {
                font-size: 1.7rem;
            }

        /*==================================
        Introduction Styles - Desktop
    ====================================*/
        .introductionArticle {
            width: 80%;
            height: auto;
            margin: 0 10% 0 10%;
        }

        #introductionTitleSection {
        }

        /*==================================
        Inspiration Styles - Desktop
    ====================================*/
        #myInspirationProjects {
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: auto auto auto;
            grid-gap: 1rem 1rem;
        }

        #inspirationOne {
            grid-column: 1;
        }

        #inspirationTwo {
            grid-column: 2;
        }

        #inspirationThree {
            grid-column: 3;
        }

        .inspirationPreview {
            grid-row: 1;
        }

        .inspirationDescription {
            grid-row: 2;
        }

        .inspirationLinks {
            grid-row: 3;
            border-bottom: none;
        }

        .inspirationProject {
            height: auto;
        }

        .inspirationPreview {
            text-align: center;
        }

            .inspirationPreview figure {
                height: auto;
                width: 80%;
                margin: 0 10% 0 10%;
            }

        .inspirationImage {
            border: 1rem solid var(--color-primaryBackground);
        }

            .inspirationImage:hover,
            .inspirationImage:focus {
                transform: scale(2);
            }

        .inspirationCaption {
            font-size: 1.65rem;
            margin-bottom: 0.5rem;
        }

        .inspirationText {
            margin-bottom: 0.5rem;
        }

        /*==================================
           carousel project 800+ pixels
    ====================================*/


        .carousel {
            height: 875px;
            width: 80%;
            max-width: 800px;
        }

        .carouselSideButton {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255,255,255,0.3);
        }

        #carouselLeftButton {
            left: -1rem;
        }

        #carouselRightButton {
            right: -1rem;
        }

        .carouselNav {
            background: var(--color-secondaryBackground);
            display: flex;
            justify-content: center;
            padding: 0.5rem 0 0 0;
        }

        .carouselBottomButton {
            display: inline-block;
            border: 0;
            border-radius: 50%;
            width: 0.7rem;
            height: 0.8rem;
            background: rgba(255,255,255,0.3);
            margin: 0 1rem 0 1rem;
            cursor: pointer;
        }

        .currentSlide {
            background: var(--color-primaryTitle);
        }

        .projectContainer projectPreview {
            height: 35rem;
        }

        .projectContainer section figure img {
            align-self: center;
            height: 25rem;
            width: auto;
            object-fit: cover;
        }

            .projectContainer section figure img:hover,
            .projectContainer section figure img:focus {
                transform: scale(1.5);
            }
    }

    /*==================================
           special media query cases
    ====================================*/

    @media only screen and (min-width: 1285px) {
        .inspirationImage:hover {
            transform: scale(1.7);
        }
    }

    @media only screen and (max-width: 405px) {
        .navBar p {
            font-size: 1.1rem;
        }

            .navBar p:hover {
                font-size: 1.15rem;
            }
    }

    /*==================================
        MartianTribuneStories & footer
     ====================================*/
    .afterThought {
        font-size: 1rem;
        color: var(--color-fadedText);
    }

    .CSSValidator a img {
        max-height: 1.3rem;
        max-width: 4rem;
    }