/*
    Author: Chaz Peterson
    Alias:  CheTranqui
*/

/*==================================
            Primary Document Styles
====================================*/

:root {
    --color-primaryBackground: #fff;
    --color-secondaryBackground: #eee;
    --color-primaryTitle: #38a2c2;
    --color-primaryTitleShadow: rgba(56, 162, 194, 1);
    --color-primaryText: #123;
    --color-fadedText: #666;
    --color-links: #01afa7;
    --color-linksShadow: rgba(1, 175, 167, 0.8);
    --color-carouselButtons: rgba(200,200,200,0.6);
    --color-carouselButtonText: darkgray;
    --color-sudokuBoardHighlight: rgba(1, 175, 167, 0.3);
    --ff-primaryFont: 'Times New Roman';
    --ff-accentFont: 'Palatino Linotype';
}

select{
    text-align: center;
}

body {
    background-color: var(--color-primaryBackground);
    color: var(--color-primaryText);
    font-family: var(--ff-primaryFont);
}

.sudoku{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 4px;
    width: 600px;
    height: 600px;
    z-index: 1;
    background-color: #333;
    border: 6px solid rgba(1, 175, 167, 0.8);
}

.board table{
    display: flex;
    width: 195px;
    height: 195px;
    z-index: 2;
    align-content: center;
    align-items: center;
}

td{
    padding: 0;
    margin: 0;
    height: 61px;
    width: 61px;
    text-align: center;
    align-self: center;
    font-size: 3rem;
    text-align: center;
    background: var(--color-primaryBackground);
}

.btn{
    color: var(--color-primaryTitle);
    background-color: var(--color-secondaryBackground);
}

.btnInverse{
    color: var(--color-secondaryBackground);
    background-color: var(--color-primaryTitle);
}

.sudokuButton{
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5rem;
}

.numberButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 1.5rem;
}

.numberButton{
    margin: 5px 0 5px 0;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    border-radius: 10px;
}

.rainbowBorder{
    height: 600px;
    width: 600px;
    position: relative;
}

.rainbowBorder::after{
    content: '';
    height: 610px;
    width: 610px;
    position: absolute;
    z-index: 0;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    animation: rotate 0.6s linear 1;
}

@keyframes rotate {
	100% {
		transform: rotateY(1turn);
	}
}