/*
    Author: Chaz Peterson
    Alias:  CheTranqui
*/

/*==================================
            Primary Document Styles
====================================*/

:root {
    --color-primaryBackground: #fff;
    --color-secondaryBackground: #eee;
    --color-primaryTitle: #38a2c2;
    --color-primaryTitleShadow: rgba(56, 162, 194, 1);
    --color-primaryText: #123;
    --color-fadedText: #666;
    --color-links: #01afa7;
    --color-linksShadow: rgba(1, 175, 167, 0.8);
    --color-carouselButtons: rgba(200,200,200,0.6);
    --color-carouselButtonText: darkgray;
    --ff-primaryFont: 'Times New Roman';
    --ff-accentFont: 'Palatino Linotype';
}

body {
    width: 90%;
    margin: 1rem auto 2rem auto;
    background-color: var(--color-primaryBackground);
    color: var(--color-primaryText);
    font-size: 1.5rem;
    font-family: var(--ff-primaryFont);
}

.col2, .col5{
    border-right: 2px solid var(--color-carouselButtons);
    border-top: unset;
    border-left: unset;
    border-bottom: unset;
}

.row2, .row5{
    border-bottom: 2px solid var(--color-carouselButtons);
    border-top: unset;
    border-left: unset;
    border-right: unset;
}

#r2c2, #r2c5, #r5c2, #r5c5{
    border-right: 2px solid var(--color-carouselButtons);
    border-bottom: 2px solid var(--color-carouselButtons);
    border-top: unset;
    border-left: unset;
}

tr{
    line-height: 1rem;
    font-size: 1.4rem;
}

td{
    padding: 0.2rem;
}

.sudokuButton{
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-primaryTitle);
    background-color: var(--color-secondaryBackground);
}