/*
    Author: Chaz Peterson
    Alias:  CheTranqui
*/

/*==================================
            Primary Document Styles
====================================*/

:root {
    --color-primaryBackground: #fff;
    --color-secondaryBackground: #eee;
    --color-primaryTitle: #38a2c2;
    --color-primaryTitleShadow: rgba(56, 162, 194, 1);
    --color-primaryText: #123;
    --color-fadedText: #666;
    --color-links: #01afa7;
    --color-linksShadow: rgba(1, 175, 167, 0.8);
    --color-carouselButtons: rgba(200,200,200,0.6);
    --color-carouselButtonText: darkgray;
    --ff-primaryFont: 'Times New Roman';
    --ff-accentFont: 'Palatino Linotype';
}

body {
    background-color: var(--color-primaryBackground);
    color: var(--color-primaryText);
    font-family: var(--ff-primaryFont);
}

.board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 600px;
    height: 600px;
    gap: 4px;
    background-color: #333;
}

.board table{
    display: flex;
    width: 197px;
    height: 197px;
    align-content: center;
    align-items: center;
}

td{
    padding: 0;
    margin: 0;
    height: 62px;
    width: 62px;
    text-align: center;
    align-self: center;
    font-size: 3rem;
    text-align: center;
    overflow: ;
}

.sudokuButton{
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-primaryTitle);
    background-color: var(--color-secondaryBackground);
}